/* CSS Reset */

*
{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

/* Generics */

body
{
    font-family:'Open Sans', sans-serif;
    margin-top:70px;
}

header
{
    background-color:white;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:1;
    height:70px;
    display:flex;
}

footer
{
    background-color:black;
    color:white;
    height:600px;
    padding-top:100px;
}

ul
{
    list-style-type:none;
}

h1
{
    font-size:77px;
    margin-bottom:-30px;
}

h2
{
    font-size:40px;
}

h3
{
    font-size:25px;
}

/* Utils */

.container
{
    max-width:60vw;
    margin:auto;
}

.button
{
    background-color:#0061FF;
    padding:8px 15px;
    text-decoration:none;
    color:white;
}

.flex 
{
    display:flex;
}

.separator
{
    background-color:lightgray;
    height:2px;
}

/* Header */

header>div
{
    display:flex;
    align-items:center;
    height:100%;
    flex-basis:50%;
}

.header-right
{
    justify-content:right;
}

header>div>*
{
    margin-left:20px;
}

header ul
{
    display:flex;
}

header ul a
{
    padding:0 20px;
    text-decoration:none;
    color:black;
}

header .button
{
    margin-left:0;
    margin-right:20px;
}

/* Jumbotron */

.jumbotron
{
    background-color:#B4D0E7;
    padding-top:80px;
    margin-bottom:100px;
}

.jumbo-container
{
    max-width:60vw;
    margin:auto;
    height:100%;
}

.jumbo-flex
{
    display:flex;
    position:relative;
    top:80px;
}

.jumbo-text
{
    flex-basis:40%;
}

.jumbo-text>p:nth-child(1)
{
    line-height:21px;
    margin-bottom:40px;
}

.jumbo-text>.button
{
    padding-top:13px;
    padding-bottom:13px;
}

.jumbo-text>p:nth-child(3)
{
    margin-top:40px;
    margin-bottom:60px;
}

.jumbo-text .fa-arrow-down
{
    font-size:55px;
}

.jumbo-img
{
    flex-basis:60%;
}

.jumbo-img>img
{
    height:450px;
}

/* Business plan */

.business-plan
{
    margin-top:150px;
    font-size:14px;
}

.business-plan>.checkbox
{
    margin-top:50px;
    margin-bottom:40px;
}

.business-plan>.checkbox>*
{
    vertical-align:middle;
}

.business-plan .checkbox-dot
{
    display:inline-block;
    width:20px;
    height:20px;
    border-radius:50%;
    border:2px solid lightgray;
    cursor:pointer;
}

.business-plan .checkbox-dot.selected
{
    border:5px solid #0061FF;
}

.business-plan>.checkbox>span:nth-child(3)
{
    margin-left:50px;
}

.business-flex
{
    display:flex;
    gap:50px;
    font-size:14px;
}

.business-flex>div
{
    flex-basis:calc(100% / 3);
    border:1px solid lightgray;
}

.plan-header
{
    text-align:center;
    padding:10px 0;
    font-size:14px;
    border-bottom:1px solid lightgray;
}

.business-flex i
{
    margin-right:5px;
}

.business-flex .plan-container
{
    max-width:80%;
    margin:0 auto;
}

.business-flex h3
{
    margin-top:40px;
}

.business-flex .plan-price>p:nth-child(2)
{
    font-weight:bold;
    font-size:13px;
    margin-top:15px;
    margin-bottom:10px;
}

.business-flex .plan-price>p:nth-child(3)
{
    font-size:14px;
    color:gray;
}

.business-flex .plan-description
{
    margin-top:50px;
}

.business-flex .plan-description>div:nth-child(2)
{
    margin:20px 0;
}

.business-flex .plan-description>div:nth-child(3)
{
    margin-bottom:40px;
}

.business-flex .button
{
    display:block;
    text-align:center;
    padding:12px 0;
    margin-bottom:30px;
}

.business-flex .separator
{
    width:20%;
    margin:30px 0;
}

.business-flex .plan-list
{
    margin-bottom:40px;
}

.business-flex h4
{
    margin-bottom:30px;
}

.business-flex .plan-list i
{
    color:#0061FF;
}

.business-flex .plan-list>div
{
    margin-top:20px;
}

.business-plan>.last-plan
{
    border:1px solid lightgray;
    margin-top:50px;
}

.last-plan-container
{
    max-width:95%;
    margin:0 auto;
}

.last-plan .flex>div:nth-child(1)
{
    flex-basis:70%;
}

.last-plan .flex>div:nth-child(2)
{
    flex-basis:30%;
    text-align:right;
    margin-top:30px;
}

.last-plan h3
{
    margin-top:30px;
    margin-bottom:15px;
}

.last-plan p
{
    margin-top:40px;
    margin-bottom:30px;
}

.last-plan a
{
    padding:10px 30px;
}

/* Find a partner */

.find-partner
{
    margin-top:150px;
    gap:50px;
}

.find-partner>div:nth-child(1)
{
    flex-basis:60%;
}

.find-partner>div:nth-child(2)
{
    flex-basis:40%;
}

.find-partner img
{
    width:100%;
}

.find-partner p
{
    margin-top:20px;
    margin-bottom:30px;
    line-height:20px;
    font-size:15px;
}

.find-partner a
{
    text-decoration:none;
    color:black;
    border:1px solid black;
    padding:10px 13px;
}

/* Dropbox Business */

.dropbox-business
{
    margin-top:150px;
}

.dropbox-business .row
{
    width:100%;
    display:flex;
    flex-wrap:wrap;
}

.dropbox-business .column
{
    flex-basis:calc(100% / 3);
    padding:30px 20px;
}

.dropbox-business .card>img
{
    width:100%;
}

.dropbox-business .card>h3
{
    margin-bottom:30px;
}

/* Find out more */

.find-out-more
{
    margin-top:200px;
    width:60%;
}

.find-out-more>h2
{
    margin-bottom:50px;
}

/* Partners */

.partners
{
    margin-top:150px;
    display:flex;
    height:620px;
}

.partners>div
{
    flex-basis:calc(100%/3);
    height:100%;
}

.partners-left, .partners-right
{
    display:flex;
    flex-wrap:wrap;
}

.partner-description
{
    background-color:#F5F5F5;
}

.partner-description>.description-container
{
    max-width:85%;
    margin:50px auto;
}

.partner-description>.description-container>img
{
    height:80px;
}

.partner-description>.description-container>.separator
{
    width:20%;
    margin:50px 0;
}

.partner-description>.description-container>p
{
    margin-bottom:50px;
}

.partner 
{
    flex-basis:50%;
    height:50%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.partner>img
{
    filter: invert(100%) sepia(99%) saturate(19%) hue-rotate(207deg) brightness(103%) contrast(100%);
    width:50%;
}

#designit
{
    background-color:#A2D39B;
}

#arizona-uni
{
    background-color:#61082B;
}

#florida-uni
{
    background-color:#0093CE;
}

#topps
{
    background-color:#FF1C1C;
}

#bicycle-relief
{
    background-color:#D5001F;
}

#hearst
{
    background-color:#B4D0E7;
}

#lonelyplanet
{
    background-color:#0D2481;
}

#clearchannel
{
    background-color:#FFD830;
}

/* Free trial */

.free-trial
{
    background-color:#B4D0E7;
}

.free-trial>.container>div
{
    flex-basis:50%;
    padding:100px 0;
}

.free-trial>.container>div:nth-child(2)
{
    text-align:center;
    padding-top:120px;
}

.free-trial h2
{
    color:#631269;
}

.free-trial a
{
    color:black;
    background-color:white;
    padding:10px 30px;
    text-decoration:none;
}

/* Frequent questions */

.questions
{
    width:100%;
    margin:150px 0;
}

.questions>*
{
    border-bottom:1px solid black;
}

.questions>h2
{
    padding-bottom:50px;
}

.questions>div
{
    padding:40px 0;
    font-weight:bold;
    justify-content:space-between;
    align-items:center;
}

.questions i
{
    margin-right:50px;
    font-size:10px;
}

/* Footer */

.footer-container
{
    max-width:60vw;
    margin:auto;
    height:100%;
}

.footer-flex
{
    display:flex;
    height:60%;
}

.footer-flex>div
{
    flex-basis:20%;
    height:100%;
    border:2px dashed white;
}

.languages
{
    margin-top:100px;
    width:15%;
    height:100px;
    border:2px dashed white;
}