/* CSS Reset */

*
{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

/* Generics */

body
{
    font-family:'Open Sans', sans-serif;
    margin-top:70px;
}

header
{
    background-color:white;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:1;
    height:70px;
    display:flex;
}

footer
{
    background-color:black;
    color:white;
    height:600px;
    padding-top:100px;
}

ul
{
    list-style-type:none;
}

h1
{
    font-size:77px;
    margin-bottom:-30px;
}

/* Utils */

.container
{
    max-width:50vw;
    margin:auto;
}

.button
{
    background-color:#0061FF;
    padding:8px 15px;
    text-decoration:none;
    color:white;
}

/* Header */

header>div
{
    display:flex;
    align-items:center;
    height:100%;
    flex-basis:50%;
}

.header-right
{
    justify-content:right;
}

header>div>*
{
    margin-left:20px;
}

header ul
{
    display:flex;
}

header ul a
{
    padding:0 20px;
    text-decoration:none;
    color:black;
}

header .button
{
    margin-left:0;
    margin-right:20px;
}

/* Jumbotron */

.jumbotron
{
    background-color:#B4D0E7;
    padding-top:80px;
    margin-bottom:100px;
}

.jumbo-container
{
    max-width:60vw;
    margin:auto;
    height:100%;
}

.jumbo-flex
{
    display:flex;
    position:relative;
    top:80px;
}

.jumbo-text
{
    flex-basis:40%;
}

.jumbo-text>p:nth-child(1)
{
    line-height:21px;
    margin-bottom:40px;
}

.jumbo-text>.button
{
    padding-top:13px;
    padding-bottom:13px;
}

.jumbo-text>p:nth-child(3)
{
    margin-top:40px;
    margin-bottom:60px;
}

.jumbo-text .fa-arrow-down
{
    font-size:55px;
}

.jumbo-img
{
    flex-basis:60%;
}

.jumbo-img>img
{
    height:450px;
}

/* Business plan */

.business-plan
{
    height:1200px;
    border:2px dashed black;
}

/* Find a partner */

.find-partner
{
    width:100%;
    margin-top:200px;
    height:500px;
    border:2px dashed black;
}

/* Dropbox Business */

.dropbox-business
{
    margin-top:200px;
}

.dropbox-business .row
{
    width:100%;
    display:flex;
    flex-wrap:wrap;
}

.dropbox-business .column
{
    flex-basis:calc(100% / 3);
    height:300px;
    border:2px dashed black;
}

/* Find out more */

.find-out-more
{
    margin-top:200px;
    height:300px;
    border:2px dashed black;
}

/* Partners */

.partners
{
    margin-top:200px;
    display:flex;
    height:620px;
    border:2px dashed black;
}

.partners>div
{
    flex-basis:calc(100%/3);
    height:100%;
}

.partners-left, .partners-right
{
    display:flex;
    flex-wrap:wrap;
}

.partner-description
{
    background-color:#F5F5F5;
}

.partner 
{
    flex-basis:50%;
    height:50%;
    border:2px dashed black;
}

/* Free trial */

.free-trial
{
    background-color:#B4D0E7;
    height:300px;
}

.free-trial>.container
{
    display:flex;
    height:100%;
}

.free-trial>.container>div
{
    flex-basis:50%;
    height:100%;
    border:2px dashed black;
}

/* Frequent questions */

.questions
{
    width:100%;
    margin:200px 0;
    height:500px;
    border:2px dashed black;
}

/* Footer */

.footer-container
{
    max-width:60vw;
    margin:auto;
    height:100%;
}

.footer-flex
{
    display:flex;
    height:60%;
}

.footer-flex>div
{
    flex-basis:20%;
    height:100%;
    border:2px dashed white;
}

.languages
{
    margin-top:100px;
    width:15%;
    height:100px;
    border:2px dashed white;
}